name: Deploy Hugo site to Pages

on:
  push:
    branches:
      - main  # Đảm bảo nhánh chính của bạn tên là 'main'

# Cấp quyền cho GitHub Actions để deploy
permissions:
  contents: read
  pages: write
  id-token: write

# Chỉ cho phép một lần deploy chạy tại một thời điểm
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Giai đoạn 1: Build (Xây dựng web)
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  # Giai đoạn 2: Deploy (Đẩy lên sóng)
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
